*{
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
 border-bottom: 25px solid lightseagreen;
 position: relative;

}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-between; /* links left, logo right */
  align-items: center;
  padding: 20px 80px 20px 20px;
  background-color: lightskyblue;
  border-bottom: 5px solid lightseagreen;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;

}

/* Links container */
.nav-links {
  display: flex;
  gap: 30px;
  transition: all 0.3s ease;
}

/* Individual nav links */
nav a {
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  color: black;
  
}

nav a:hover {
  color: lightslategray;
}

/* Active link */
.active {
  color: lightseagreen;
}

/* Logo */
.logo {
  max-height: 80px;
}


.slider {
position: relative;
width: 100%;
height: 80vh;
overflow: hidden;
}


.slide {
position: absolute;
inset: 0;
opacity: 0;
transition: opacity 1s ease-in-out;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-size: 2rem;
font-weight: bold;
text-shadow: 0 2px 10px rgba(0,0,0,0.7);
}


.slide img {
position: absolute;
inset: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}


.slide.active {
opacity: 1;
}

.textbox-section
{
  border-top: 5px solid lightseagreen;
  margin: 0;
  min-height: 100vh;
  background: lightskyblue;
  color: white;
  transition: all 0.3s ease;
}
.head
{

  padding: 3%;

  margin: 0;

  font-size: 450%;

}
.WartmeNU
{
  font-size: 30px;
}

.text-details
{
  /*border-bottom: 20px solid lightseagreen;*/
  border-top: 5px solid lightseagreen;
   display: flex; 
   border-width: 20px;
   margin: 20px auto;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 500px;
}

.textbox-section .section-content .text-details
{
  border-top: 5px solid lightseagreen;
  color: white;
 transition: all 0.3s ease;
 
  
}

.card {
      background-color: lightskyblue;
      padding: 30px;
      border-radius: 12px;
      width: 350px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border: 3px solid lightseagreen;
    }

    .circle {
      
      width: 50px;
      height: 50px;
      background-color: #7c7c6b;
      border-radius: 50%;
      margin-bottom: 15px;
      background-size: contain;
    }

    .line {
  display: inline-block;      
  padding: 2px 8px;          
  /* background-color: #7c7c6b;*/  
  border-radius: 6px;       
  font-size: 12px;           
  line-height: 1;           
  /*color: white; */  
  color: lightseagreen;   
  margin-bottom: 20px;
  font-weight: 500;
  /*text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
  

}

    .line.short {
      width: 60%;
      font-size: 30px;
    }

    .line.long {
      width: 100%;
      font-size: 20px;
    }

    .cardsbox
    {
      margin-top: 50px;
      align-items: center;
        display:flex;
        flex-direction:column;
        gap: 20px;
        min-height: 100vh;
        position: relative;
    }
    .detail-box{
      margin-top: 20px;
      align-items: center;
        display:grid;
        grid-template-columns: repeat(3, 1fr);  
        gap: 20px;
        min-height: 90%;
        margin-left: 20%;
        margin-bottom: 20px;
    }
    .detail{
      background-color: lightskyblue;
      padding: 30px;
      border-radius: 12px;
      width: 250px;
      height: 300px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border: 3px solid lightseagreen;
    }


#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightskyblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease;
  font-weight: 500;
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid lightseagreen;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

.creditsbg{
  height: 110%; /* makes the section full screen height */
      background-image: url('/photos/360_F_641918542_bL3O5qWqKmaVrxM12Qa1pp1owFvKKP3k.jpg'); /* replace with your image */
      background-size: cover;   /* makes the image cover the whole section */
      background-position: center; /* centers the image */
      background-repeat: no-repeat; /* prevents tiling */
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
    }

.section-content {
  display: grid;
}

